@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: Lato, sans-serif;
}

body {
  height: 100vh;
  background: #edf1f1;
}

body > *:not(.header),
body > *:not(.footer) {
  padding: 0 6%;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 8vh;
  background: #e5ebeb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #2b7a78;
  font-size: 2rem;
  text-transform: uppercase;
}

.navbar {
  list-style: none;
  display: flex;
  font-size: 1.5rem;
}

.nav-item {
  padding: 0 2rem;
}

.nav-item a {
  text-decoration: none;
  color: #0e3a38;
}

.nav-item a:hover,
.nav-item a:active {
  color: #2b7a78;
}

#current-date {
  font-size: 1.5rem;
  padding-top: 9vh;
  text-align: right;
  color: #2b7a78;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 1rem;
  }
}

#book-list {
  display: flex;
  flex-direction: column;
  scrollbar-color: #2b7a78 #edf1f1;
}

#book-shelf {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  margin-top: 2rem;
  max-height: 70vh;
  overflow-y: scroll;
  border: 1px solid #bfcaca;
}

.border {
  width: 16rem;
  align-self: center;
  height: 2px;
  background: #2b7a78;
  margin-bottom: 2px;
}

#add-new-book {
  display: none;
  flex-direction: column;
  margin: 4vh auto 0 auto;
  width: 50%;
}

@media screen and (max-width: 992px) {
  .wrapper-book-entry {
    width: 70%;
  }
}

form {
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
}

.book-entry {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.heading1 {
  font-size: 24px;
  text-align: center;
  color: #2b7a78;
  text-transform: uppercase;
}

input {
  outline: none;
  padding: 12px 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #d9dddd;
}

h4 {
  font-size: 16px;
  font-weight: 400;
  padding: 5px 0;
  font-family: Lato, sans-serif;
}

h4 span {
  font-weight: 700;
}

.book-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 99%;
  padding: 0.5rem;
  margin-bottom: 2.5px;
}

.book-holder:nth-child(even) {
  background: #d9dddd;
}

.book-holder:nth-child(odd) {
  background: #bfcaca;
}

.btn-remove {
  padding: 6px 8.5px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #2b7a78;
  color: #def2f1;
  cursor: pointer;
  font-family: Lato, sans-serif;
}

#btn-add {
  padding: 12px;
  align-self: flex-end;
  background: #2b7a78;
  color: white;
  cursor: pointer;
  font-family: Lato, sans-serif;
  font-weight: 600;
}

input:focus,
input:active {
  border-bottom: 3px solid #2b7a78;
}

#contact {
  display: none;
  flex-direction: column;
  font-size: 1.5rem;
  margin: 4% auto;
  align-items: center;
}

.info {
  padding-bottom: 1.5%;
  padding-top: 7rem;
}

.specific-info {
  padding-left: 4rem;
}

.this-info {
  padding-left: 1rem;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 8vh;
  border-top: 0.5px solid #d9dddd;
}
